@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');


/* body {
  background: white;
}  */


*{
  font-family: 'Kalam', cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


a{
  text-decoration: none;
}

.error-message{
  font-size:10px;
  color:red;
}
